$soft-blue: hsla(215, 52%, 70%, 0.726);
$cyan: hsl(178, 100%, 50%);
$cyan-background: hsla(178, 100%, 50%, 0.637);

//----------Neutral
$very-dark-blue: hsl(217, 54%, 11%); //   (main BG)
$very-dark-blue-card: hsl(216, 50%, 16%); //   (card BG)
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// --------Typography

$base-font-size: 18px;
$font-family: 'Outfit', sans-serif;